.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.about__image-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.about__image-container > img {
  width: 100%;
}

.about-box {
  width: 430px;
  background-color: rgb(17, 17, 135);
  padding: 20px 30px;
  transform: translateX(-50px);
}

.about__header {
  font-size: 2.6rem;
  color: #fff;
  margin: 0;
}

.about-box > p {
  font-size: 1.8rem;
  color: #fff;
}

.about-box > button {
  font-size: 1.4rem;
  padding: 5px 10px;
  color: rgb(17, 17, 135);
  font-weight: 600;
  background-color: #fff;
  border: 0;
}

@media screen and (max-width: 1020px) {
  .about {
    flex-direction: column;
  }
  .about__image-container {
    padding-bottom: 0;
    padding-right: 50px;
  }
  .about-box {
    width: 500px;
    transform: translateX(0);
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 600px) {
  .about__image-container {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .about-box {
    width: 300px;
  }
}
