.list {
  list-style-type: none;
  padding: 0;
}

.icon {
  width: 40px;
  height: 40px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  transition: all 0.3s;
}

.nav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 9;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgb(17, 17, 135);
}

.nav__item:last-child {
  border: 0;
  padding-bottom: 0;
}
.nav__item > a {
  color: rgb(17, 17, 135);
  transition: color 0.3s;
  text-decoration: none;
  font-size: 2rem;
}
.nav__item > a:hover {
  color: orange;
}

.nav__toggler {
  opacity: 0.6;
  transition: box-shadow, transform 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  border-radius: 5px;
}

.nav__brand > img {
  width: 150px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav__brand > img {
    width: 180px;
    height: 50px;
  }

  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
